---
import Layout from '../layouts/Default.astro';
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets';
import { getCollection } from "astro:content";

import Profile from '../images/Alee.png';
import '../styles/index.css';
import '../styles/Page.css';
import "../styles/cards.css";
import { formatDate } from "../util";
const allBlogPosts = (await getCollection('blog')).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()).slice(0, 10);

---

<Layout title="Andrew Lee" description="Andrew Lee Website">
	<main>
		<div class="home">
			<div class="headline">
				<Image src={Profile} class="avatar" loading="eager" alt="Andrew Lee" height={200} width={200} />
				<h1 id="title">Hey, I'm Andrew Lee!</h1>
				<div class="social">
					<a href="https://linkedin.alee14.me" target="_blank" aria-label="LinkedIn">
						<Icon name="fa6-brands:linkedin" />
					</a>
					<a href="https://github.alee14.me" target="_blank" aria-label="GitHub">
						<Icon name="fa6-brands:github" />
					</a>
					<a href="https://youtube.alee14.me" target="_blank" aria-label="YouTube">
						<Icon name="fa6-brands:youtube" />
					</a>
					<a href="https://instagram.alee14.me" target="_blank" aria-label="Instagram">
						<Icon name="fa6-brands:instagram" />
					</a>
				</div>
				<div class="description">
					<h2>21 Years Old</h2>
					<h2>Montreal, Quebec, Canada</h2>
				</div>
				<div>
					<h3><a href="mailto:andrew@alee14.me" class="email-contact">andrew@alee14.me</a></h3>
				</div>
			</div>
		</div>
		<div class="information">
			<div class="box">
				<h1>About me</h1>
				<!--<a href="/history" class="link">History</a>-->
				<p>Hey, I am Andrew Lee, a person who has a passion with computers.
					I currently have a vocational studies diploma in IT (Computing Support).
					For years, I have been into programming, tinkering with virtual machines, and messing with Linux.</p>
				<h1>Questions</h1>
				<h2>When did you get into computers?</h2>
				<p>I don't really remember much as I was really young at the time, but my dad was a programmer analyst, and I most likely wanted to follow his footsteps.
					But maybe I thought computers looked cool because of TV shows and movies?</p>
				<h2>When did you get into programming?</h2>
				<p>Like before my dad was a programmer analyst, but it really began when I saw projects like ComputerCraft, ShiftOS or Histacom was when I wanted to build an operating system.
					Yep, pretty ambitious at the time though I ended up being those kids who made a PowerPoint OS and a batch script that simulates DOS. But, I eventually wrote actual (but terrible) software.</p>
			</div>
			<div class="box">
				<h1>Computer Specs</h1>
				<h2>AleePC</h2>
				<ul>
					<li>Model: Framework 13</li>
					<li>CPU: AMD Ryzen 5 7640U</li>
					<li>RAM: 16 GB DDR5</li>
					<li>Storage: 1 TB NVME SSD</li>
				</ul>
				<h2>AleeWorkstation</h2>
				<ul>
					<li>OS: Arch Linux (KDE)</li>
					<li>CPU: AMD Ryzen 3 2200G</li>
					<li>RAM: 16 GB DDR4</li>
					<li>Storage: 2 TB NVME SSD, 4 TB HDD, 2 TB HDD</li>
					<li>GPU: AMD Radeon RX 6600</li>
				</ul>
				<h2>Synology</h2>
				<ul>
					<li>Model: DS918+</li>
					<li>CPU: Intel Celeron J3455</li>
					<li>RAM: 8 GB</li>
					<li>Storage: 15 TB (3x6TB, 1x4TB)</li>
				</ul>
				<h2>ServaRica (Server)</h2>
				<ul>
					<li>OS: Debian 12 Bookworm</li>
					<li>CPU: AMD EPYC 7302</li>
					<li>RAM: 4 GB</li>
					<li>Storage: 206 GB</li>
				</ul>
				<h2>Proxmox</h2>
				<ul>
					<li>Model: Lenovo ThinkCentre M800</li>
					<li>CPU: Intel Core i5 6500</li>
					<li>RAM: 64 GB RAM</li>
					<li>Storage: 500 GB SSD, 2 TB SSD</li>
				</ul>
			</div>
			<div class="box latest-posts">
				<h1>Latest Posts</h1>
				{allBlogPosts.map((post) => (
					<article>
						<h1 class="blog-title"><a href={`/blog/${post.slug}`}>{post.data.title}</a></h1>
						<small>{formatDate(post.data.pubDate)}</small>
						<p>{post.data.description}</p>
					</article>
				))}
			</div>
		</div>
	</main>
</Layout>
