---
import Page from "../layouts/Page.astro";
import projects from "../data/projects.json";
import "../styles/cards.css";
import GitHubProjects from "../components/GitHubProjects.svelte";
import { Image } from 'astro:assets';
import snugCup from '../images/snug_cup.png';

---
<Page title="Projects" description="Things that I have been working on in the past, and present">
    <main>
        <h2>3D Models</h2>
        <div class="grid">
            <article class="card">
                <h1>Snug Cup</h1>
                <p>My first 3D model for a school project</p>
                <Image src={snugCup} alt="SnugCup" height="200" style="border-radius: 10px; " />
                <div class="row">
                    <a href="">Download</a>
                </div>
                <small>Licensed under CC BY-NC-SA 4.0</small>
            </article>
        </div>
        <h2>Programming</h2>
        <div class="grid">
            {
                projects.map((project) => {
                    return (
                            <article class="card">
                                <h1>{project.name}</h1>
                                <p>{project.description}</p>
                                <div class="row">
                                    {project.links.map((link) => {
                                        return (
                                                <a href={link.url} target={link.external ? "_blank" : "_self"}>{link.name}</a>
                                        )
                                    })}
                                </div>
                            </article>
                    )
                })
            }
        </div>
        <h2><a href="https://github.com/Alee14" target="_blank">Andrew Lee GitHub Repositories</a></h2>
        <GitHubProjects client:load username="Alee14" isOrganization={false} />
        <h2><a href="https://github.com/alee14-projects" target="_blank">AleeCorp/Alee Productions GitHub Repositories</a></h2>
        <GitHubProjects client:load username="alee14-projects" isOrganization={true} />
    </main>
</Page>
<style>
    .row {
        display: flex;
        flex-direction: row;
        gap: 1em;
    }
</style>
