---
import Layout from './Default.astro';
const { title, description, pubDate, tags } = Astro.props;
---

<Layout title=`${title} - Andrew Lee` description={description}>
    <header>
        <h1 class="header-text">{title}</h1>
        <span>{pubDate}</span>
        <div class="tags">
            {tags.map(tag => (
                    <span class="tag"><a href={`/blog/tags/${tag}`}>{tag}</a></span>
            ))}
        </div>
    </header>
    <div class="container">
        <main>
            <slot />
        </main>
    </div>
</Layout>

<style>
    header {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        margin: 0;
        text-align: center;
        padding: 0 0 1em;
    }

    main {
        background-color: #3B513B;
        padding: 1.2em;
        border-radius: 20px;
    }

    .header-text {
        font-size: 2em;
        margin: 0;
    }

    h2.header-text {
        font-size: 1.5em;
        font-weight: 300;
    }
    .container {
        margin: 1em 10em 1em 10em;
    }

    .tags {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1em;
    }

    @media (max-width: 992px) {
        .container {
            margin: 10px 20px 10px 20px;
        }
    }

</style>
