---
interface Props {
	title: string;
	description: string;
}

const { title = "Andrew Lee", description = "Andrew Lee Website" } = Astro.props;
import { ViewTransitions } from 'astro:transitions';
import Navbar from '../components/Navbar.jsx';
const date = new Date();
---

<!doctype html>
<html lang="en-ca">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/blog/rss.xml" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<link rel="icon" href="/favicon.ico" sizes="any">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<!-- Default Metadata -->
		<meta name="title" content={title} />
		<meta name="description" content={description} />

		<!-- Open Graph Metadata -->
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content="https://alee14.me/profile.png" />
		<meta property="og:type" content="website" />

		<meta name="theme-color" content="#1B291F"/>
		<meta name="generator" content={Astro.generator} />
		<ViewTransitions fallback="animate" />
		<title>{title}</title>
	</head>
	<body>
	<Navbar client:load />
	<div transition:name="main" transition:animate="fade">
		<slot />
		<footer>
			<p class="small">Made with {Astro.generator} and Hosted on Vercel</p>
			<p>Copyright &copy; {date.getFullYear()} Andrew Lee. <a href="https://github.com/Alee14/personal-website" target="_blank">View source code.</a></p>
		</footer>
	</div>
	</body>
</html>
<style is:global>
	html {
		margin: 0;
		padding: 0;
		font-family: "Exo 2", system-ui, sans-serif;
		background: #1B291F;
		color: #FFFFFF;
	}

	p {
		font-size: 1.1em;
	}

	@media screen and (-webkit-min-device-pixel-ratio:0) {
		html {
			scrollbar-gutter: stable;
		}
	}

	ul {
		padding-left: 20px;
		font-size: 1.1em;
	}

	footer {
		margin: 2em;
		text-align: center;
		font-size: 1.3em;
	}

	footer p {
		margin: 0.6em;
	}

	.small {
		font-size: 0.9em;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 500;
	}

	h2 {
		font-size: 1.5em;
	}

	a {
		text-decoration: none;
		color: #d7fcc9;
		transition: ease-in-out 0.2s;
	}

	a:hover {
		color: #9ECD9D;
		transition: ease-in-out 0.2s;
	}

	a:active {
		color: #609460;
	}

	.button {
		padding: 10px 20px 10px 20px;
		border-radius: 5px;
		border: none;
		background-color: #609460;
		color: white;
		cursor: pointer;
		transition: ease-in-out 0.2s;
	}

	.button:hover {
		background-color: #486e48;
		transition: ease-in-out 0.2s;
	}

	.button:active {
		background-color: #243824;
	}

	.margin {
		margin: 0.5em;
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
